* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background: rgb(54,77,204);
    background: linear-gradient(176deg, #191919 0%, crimson 100%);
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.avatar {
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgb(175, 23, 23);
    box-shadow: 0px 0px 20px rgb(175, 23, 23) ;
}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}
h2 {
    font-size: 16px;
    
}
.profile {
    text-align: center;
    margin-top: 20px;
}
.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0 ;
    
}

.social img {
    width: 33px;
}
li {
    margin: 10px 20px;
    
}
.links-list {
    list-style: none;
    
    
}
.links-list li {
    margin: 10px 20px;

}
.links-list li  {
    background-color: #fff;
    padding: 15px 20px ;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #fff ;
    text-decoration: none;
    color: crimson;
}
.links-list li span {
    color:rgb(70, 70, 70);
    display: block;
    margin-top: 10px;
}


